<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL shorten page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form method="post" action="/">
        <div class="row mt-5">
            <div class="col-sm-8">
                <label for="originalUrl">Full URL</label>
                <input type="text" id="originalUrl" class="form-control" name="originalUrl" value=""
                       placeholder="https://domain.name/query">
            </div>
            <div class="col-sm-4" style="margin-top: 2em">
                <input type="submit" value="Convert" class="btn btn-primary">
            </div>
        </div>
    </form>

    <form method="get" action="/filter">
        <div class="row mt-3">
            <div class="col-sm-8">
                <label for="filter">Filter data</label>
                <input type="text" id="filter" class="form-control" name="filter" value=""
                       placeholder="Value to find">
            </div>
            <div class="col-sm-4" style="margin-top: 2em">
                <input type="submit" value="Filter data" class="btn btn-primary">
            </div>
        </div>
    </form>

    <table class="table mt-1">
        <thead>
        <tr>
            <th scope="col">Datetime</th>
            <th scope="col">Original URL</th>
            <th scope="col">Shorten URL</th>
        </tr>
        </thead>
        <tbody>
        {{#urlList}}
            <tr>
                <td>{{time}}</td>
                <td>{{originalUrl}}</td>
                <td><a href="{{shortUrl}}">{{value}}</a></td>
            </tr>
        {{/urlList}}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>
</html>
